.bioponi_button{
    border: none;
    width: var(--width);
    color: var(--textColor);
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: var(--color);
}

.bioponi_button:hover{
    background-color: var(--hoverColor);
}