  .sidebar {
    background-color: midnightblue;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 0.3s ease-out;
  }
  
  .logo{
    margin-top: 1em;
    width: 40%;
  }
  
  .sidebar ul {
    list-style: none;
    top: 0;
    padding: 0 1em 0 1em;
    margin: 0;
  }
  
  .sidebar_inactive{
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
  }

  .sidebar_active{
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background-color: #7991bd;
    border-radius: 10px;
  }
  
  .sidebar i{
    color: white;
    margin: 1em 1em 1em 1em;
    width: 10px;
  }
  
  .sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    flex-grow: 1;
  }
  
  .sidebar li:hover:not(:first-child) {
    background-color: #7991bd;
    border-radius: 10px;
  }
  
  .content {
    margin-left: 250px;
    padding: 1em;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }
    
    .content {
      margin-left: 0;
    }
  }
  