  .sidebar_show,
  .sidebar {
    background-color: midnightblue;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-out;
  }

  .hamburger{
    position: absolute;
    left: -100px;
    cursor: pointer;
  }
  
  .logo{
    margin-top: 1em;
    width: 40%;
  }
  
  .sidebar_show ul,
  .sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 0;
    padding: 0 1em 0 1em;
    height: 100%;
    margin: 0;
  }
  
  .inactive_item{
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
  }

  .active_item{
    cursor: pointer;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background-color: #7991bd;
    border-radius: 10px;
  }
  
  .sidebar_show i,
  .sidebar i{
    color: white;
    margin: 1em 1em 1em 1em;
    width: 10px;
  }
  
  .sidebar_show li a,
  .sidebar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    flex-grow: 1;
    width: 100%;
  }  

  .sidebar_show li:hover:not(:first-child), 
  .sidebar li:hover:not(:first-child) {
    background-color: #7991bd;
    border-radius: 10px;
    scale: 1.1;
    transition: all 0.3s ease-out;
  }

  .sidebar_name{
    margin-top: auto;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 1em;
    padding-left: 2em;
  }
  .sidebar_name:hover{
    scale: 1.0;
    transition: none;
    background-color: transparent;
  }
  
  .content {
    margin-left: 250px;
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      transform: translateX(-100%);
    }

    .hamburger{
      left: 0;
      margin: 1em;
    }
    
    .content {
      margin-left: 0;
      padding-top: 3em;
    }
  }
  