.fish_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 10px 5px 5px #fb9b50;
  }
  
.fish_card_title {
  font-size: 24px;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  display: flex;
  justify-content: space-between;
}

.fish_card_body {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
} 

.fish_card_modify_but{
  color:#fb9b50;
    font-size: 18px;
    padding-right: 1em;
    cursor: pointer;
}