.fish_card {
    display: flex;
    width: 96%;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #fb9b50;
    padding: 0.75em;
  }
  
.fish_card_title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.fish_card_modify_but{
  color:#fb9b50;
    font-size: 18px;
    cursor: pointer;
    padding-left: 1em;
}

.fish_card_curve{
  margin: 1em;
  width: 99%
}