.fishModal_plus{
    border: none;
    background-color: #ff8e00;
    color: black;
    font-size: 14px;
    margin: 8px 2px;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 8px;
}

.fishModal_moins{
    border: none;
    background-color: #e06464;
    color: black;
    font-size: 14px;
    margin: 8px 2px;
    padding: 0.3em;
    cursor: pointer;
    border-radius: 8px;
}

.fishModal_validate_button{
    padding: 0.75em;
}

.fishModal_plus_moins{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fishModal_name{
    font-size: 16px;
    margin-left: 1em;
    padding: 0.25em 0 0.25em 0 0.5em;
    display: inline-block;
}

.fishModal_dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5em;
}

.fishModal_food_creation,
.fishModal_food_modif{
    margin-left: 7.5em;
    padding: 0.5em 0 0.5em 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    display: flex;
    justify-content: flex-start;
}

.fishModal_food_creation{
    margin-left: 5.25em;
}
.fishModal_select{
    font-size: 16px;
    margin-left: 17px;
    width: 203px;
    height: 24px;
}