.fish_card {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 10px 5px 5px #fb9b50;
    padding: 0.5em 1em 0.5em 1em
  }
  
.fish_card_title {
  font-size: 24px;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  display: flex;
  justify-content: space-between;
}

.fish_card_modify_but{
  color:#fb9b50;
    font-size: 18px;
    padding-right: 1em;
    cursor: pointer;
}

.fish_card_curve{
  width: 99%
}