.foodCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 950px;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 10px 5px 5px #7991bd;
}

.foodCard_title {
    font-size: 24px;
    font-weight: bold;
    padding: 0.5em 0 0.5em 1em;
    display: inline-block;
}

.foodCard_body {
    padding-left: 1em;
    height: 350px;
    width: 920px;
  }