.poolModalDialog_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.poolModalDialog_grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border: 1px solid black;
}

.poolModalDialog_container{
    justify-content: center;
    margin: 0 1.5em 0 1.5em;
    display: flex;
    flex-direction: row;
}

.poolModalDialog_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.poolModalDialog_input{
    width: 100%;
    height: 15px;
    padding: 0.5em;
    border: none;
    text-align: center;
}

.poolModalDialog_button_inactive,
.poolModalDialog_button_active{
    border: none;
    width: 15%;
    color: black;
    height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #f6bd41;
}

.poolModalDialog_error{
    color: red;
    padding: 1em 0 0 2em;
}

.poolModalDialog_button_inactive,
.poolModalDialog_button_active{
    margin: 1em 0 1.5em 1.5em;
}

.poolModalDialog_button_active{
    background-color: #f6bd41;
}

.poolModalDialog_button_inactive{
    background-color: rgba(184, 49, 49, 0.849);
    cursor: not-allowed;
}