.species{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.species_margin{
    margin: 1em;
}

.new_species_button{
    display: flex;
    justify-content: space-around;
}