.species_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 750px;
    border: 1px solid grey;
    border-radius: 4px;
    box-shadow: 10px 5px 5px #fb9b50;
  }
  
.species_card_title {
  font-size: 24px;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  display: inline-block;
}

.species_card_body {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}  