.diary_container{
    padding: 1em;
}

.diary_but_container{
    display: flex;
    justify-content: space-around;
}

.diary_text{
    font-size: 1.5em;
    font-weight: 300;
    margin: 1em;
    text-decoration: underline;
}