.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
}

.sidebar {
  background-color: midnightblue;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: all 0.3s ease-out;
}

.sidebar ul {
  list-style: none;
  top: 0;
  padding: 0 1em 0 1em;
  margin: 0;
}

.sidebar li{
  margin: 10px 0;
}

.sidebar li{
  height: 3em;
}

.sidebar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.sidebar li a:hover {
  background-color: #7991bd;
  height: 25px;
  border-radius: 10px;
}

.content {
  margin-left: 250px;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
  }
  
  .content {
    margin-left: 0;
  }
}
